@tailwind base;
@tailwind components;
@tailwind utilities;

input.default, textarea.default{
  @apply w-full py-2 px-2 rounded text-blue-900 ring-2 ring-blue-300 focus:placeholder-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500;
}


.activeDropdown{
  @apply underline;
}
.activeprofiledropdown{
  @apply text-black underline;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
